<p style="color: green"><%= notice %></p>

<h1>Lists</h1>

<div id="lists">
  <% @lists.each do |list| %>
    <p><%= link_to list.code, list_path(list.code) %></p>
  <% end %>
</div>

<%= button_to "Create List", create_list_path, method: :post %>
