<p style="color: green"><%= notice %></p>

<h1><%= @list.code %></h1>

<div>
  <%= link_to "Back to lists", lists_path %>
  <%= button_to "Destroy this list", list_path(@list.code), method: :delete %>
</div>
